// ============================================================
//          Tables
// ------------------------------------------------------------*/

table {
  max-width: 100%;
  @if $kittn-table-background != false {
    background-color: $kittn-table-background;
  }
}

th {
  text-align: left;
}

.table {
  width: 100%;
  @if $kittn-table-margin != false {
    margin-bottom: $kittn-table-margin;
  }

  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {
        @if $kittn-table-cell-padding != false {
          padding: $kittn-table-cell-padding;
        }
        @include lineheight($kittn-typo-lineheight);
        vertical-align: top;
        @if $kittn-table-border-color != false {
          border-top: 1px solid $kittn-table-border-color;
        }
      }
    }
  }
  > thead > tr > th {
    vertical-align: bottom;
    @if $kittn-table-border-color != false {
      border-bottom: 2px solid $kittn-table-border-color;
    }
  }
  > caption + thead, > colgroup + thead, > thead:first-child {
    > tr:first-child {
      > th, > td {
        border-top: 0;
      }
    }
  }
  @if $kittn-table-border-color != false {
    > tbody + tbody {
      border-top: 2px solid $kittn-table-border-color;
    }
  }
}


// ---- Bordered Tables ----
@if $kittn-table-border-color != false {
  .table-bordered {
    border: 1px solid $kittn-table-border-color;
    > thead, > tbody, > tfoot {
      > tr {
        > th, > td {
          border: 1px solid $kittn-table-border-color;
        }
      }
    }
    > thead > tr {
      > th, > td {
        border-bottom-width: 2px;
      }
    }
  }
}

@if $kittn-table-background-zebra != false {
  .table-zebra {
    > tbody > tr:nth-child(odd) {
      > td, > th {
        background-color: $kittn-table-background-zebra;
      }
    }
  }
}

@if $kittn-table-background-hover != false  {
  .table-hover {
    > tbody, > tr:hover {
      > td, > th {
        background-color: $kittn-table-background-hover;
      }
    }
  }
}

@if $kittn-ie8 == false {
  table col[class*='#{$table-colum-class}'] {
    position: static;
    float: none;
    display: table-colum;
  }
  table {
    td, th {
      &[class*='#{$table-colum-class}'] {
        position: static;
        float: none;
        display: table-cell;
      }
    }
  }
}

@media screen and (max-width: $kittn-table-trigger-size) {
  width: 100%;
  @if $kittn-table-margin != false {
    margin-bottom: $kittn-table-margin;
  }
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  @if $kittn-table-border-color != false {
    border: 1px solid $kittn-table-border-color;
  }

  > .table {
    margin-bottom: 0;

    > thead, > tbody, > tfoot {
      > tr {
        > th, > td {
          white-space: nowrap;
        }
      }
    }
  }
  @if $kittn-table-border-color != false {
    > .table-bordered {
      border: 0;

      > thead, > tbody, > tfoot {
        > tr {
          > th:first-child, td:first-child {
            border-left: 0;
          }
          > th:last-child, td:last-child {
            border-right: 0;
          }
        }
      }
    }
  }

  > tbody, > tfoot {
    tr:last-child {
      > th, > td {
        border-bottom: 0;
      }
    }
  }
}



