mixin guide-icon-box(classname)
  .guide-main__icon-box
    h6: code .#{classname}
    span(class='#{classname} guide-icon-2')
    span(class='#{classname} guide-icon-3')


h3.guide-main__content__header Icons
.guide-main__content__box
  .guide-main__icon-list
    //- Include Icons below here -------------
    //- +guide-icon-box('ICONNAME')
