// ============================================================
//          Base Setup
// ------------------------------------------------------------

// Route to the Font Directory
$kittn-dir-font: '../fonts/';

// Route to the base Image Directory
$kittn-dir-image: '../img/';

// Route to the Single Images Directory
$kittn-dir-single: '../img/single/';

// Route to the Texture Image Directory
$kittn-dir-texture: '../img/textures/';

// Route to the SVG Images (with Fallbacks)
$kittn-dir-svg: '../img/svg/';

// Route to the SVG Images (without Fallbacks)
$kittn-dir-svgonly: '../img/svg/';

// Markup Sign for BEM Elements
$kittn-bem-element-sign: '__';

// Markup Sign for BEM Modifiers
$kittn-bem-modifier-sign: '--';

// ---- Global Spacing Unit ----
$kittn-global-spacing: 20;

// CSS Debug Mode - display css error
$kittn-debugging: false;

// Use the new Box Model box-sizing: border-box.
// [boolean]
$kittn-active-box-sizing: true;

// Use the Baseline for height calculation
// [boolean]
$kittn-active-baseline: false;

// Activate the Browser Antialias for Fonts
// [boolean]
$kittn-active-antialias: true;

// Activate the Hyphen - automated Wordbreak won't work correctly on chrome
// [boolean]
$kittn-active-hyphens: false;

// Activate Viewport Fix - when active make sure in the App.js is also activated
// [boolean]
$kittn-active-viewport-fix: false;

// Activate some Fallbacks for IE8
// [boolean]
$kittn-ie8: false;

// When the responsive behavior is oriented to mobile first - set it on true
// [boolean]
$kittn-mobile-first: true;

// Setup the default unit for values that unitless
// [string]
$kittn-default-unit: px;

// Name of the Sprite file
// [string/boolean]
$kittn-sprite-name: false;

// Include the retina Sprite
// [boolean]
$kittn-sprite-retina: true;

// The Fontname for the Iconfont
// [string/boolean]
$kittn-icon-font-name: false;

// Prefix for icon classes
$kittn-icon-class-prefix: 'f-icon';

// List of Breakpoints for the Layout. First Value inside () is the target scope
// size....: [value] Breakpoint Value
// view....: [boolean] On 'true' the breakpoint will used for the visibility/hidden class
$kittn-breakpoint-map: (
  1: (
    size: 320px,
    view: true,
    layout: true,
    fontsize: false
  ),
  2: (
    size: 480px,
    view: true,
    layout: false,
    fontsize: false
  ),
  3: (
    size: 560px,
    view: false,
    layout: true,
    fontsize: false
  ),
  4: (
    size: 768px,
    view: false,
    layout: true,
    fontsize: false
  ),
  5: (
    size: 960px,
    view: false,
    layout: true,
    fontsize: false
  ),
  6: (
    size: 1180px,
    view: false,
    layout: true,
    fontsize: false
  ),
  7: (
    size: 1480px,
    view: false,
    layout: false,
    fontsize: false
  )
);

// Set the Font Size Value - REM With PX Fallback. Only Active without IE8 Compatibility
// [string] (px | rem)
$kittn-typo-base-unit: rem;

// Set the percentage Font Scaling
// [number] (unitless value)
$kittn-typo-base-scale: 85;

// Set the Base fontsize
// [number] (unitless value)
$kittn-typo-base-size: 16;

// Set the Base Lineheight - needed for Baseline
// [number] (unitless value)
$kittn-typo-lineheight: 21;

// Setup responsive Fonts. To activate enter a value between 0 and 100. Is the Base Font Size
// [bool|number]
$kittn-active-responsive-fonts: false;

// The Default Margin for Typographic Elements (set on '0' when not needed)
// [list:arg1] [value] {margin-top} (unitless value)
// [list:arg2] [value] {margin-bottom} (unitless value)
$kittn-typo-margin: (
  top: s(1.25),
  bottom: s(1)
);

// Global Heading Stylings
// [list:arg1] [value/boolean] {line-height} 'false' or 'd' (for line-height:1) or a unitless number
// [list:arg2] [number/boolean] {margin-bottom} 'false' or 'number'
// [list:arg3] [value/boolean] {font-weight} 'false' or 'number'
$kittn-global-heading: (
  lineheight: false,
  marginbottom: 0,
  fontweight: false
);

// Map off all included Fontfaces
// filename.......: Filename, when 'false' the Fontname will be used
// weight.........: The associated Fontweight
// style..........: The associated Font Style
// svgoption......: [bool] Activate the addition route to the SVG Font
$kittn-fontface-map: (
  // fontname: (
  //   filename: false,
  //   weight: normal,
  //   style: normal,
  //   svgoption: true
  // )
);
// Font Style Data Array for several Fontstyles - generate the Class
// font-size.......: unitless value (will be automat)
// line-height.....: n = off,
//                   d = line-height: 1
//                   c = sass calculated,
//                   number = lineheight
// margin-bottom...: n = off
//                   or Number
// font-weight.....: n = off
//                   or Number
// tag.............: [boolean] On 'true' it generates also tags, with 'false' only classes
// extend..........: [string/boolean] When you want to Extend the Style you can enter here the Extend Classname like '%myclass'
$kittn-typostyles-map: (
  h1: (
    font-size: 36,
    line-height: 40,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  ),
  h2: (
    font-size: 32,
    line-height: c,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  ),
  h3: (
    font-size: 29,
    line-height: c,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  ),
  h4: (
    font-size: 25,
    line-height: c,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  ),
  h5: (
    font-size: 22,
    line-height: c,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  ),
  h6: (
    font-size: 19,
    line-height: c,
    margin-bottom: 10,
    font-weight: n,
    tag: true,
    extend: '%heading'
  )
);

// Generate the Fontstyles from the list
// [boolean]
$kittn-generate-typostyles: true;

// Optional Style for List Elements
// [list:arg1] [value/boolean] {font-size} Can be 'false'
// [list:arg2] [value/boolean] {line-height} Can be 'false'
// [list:arg3] [value] {margin-left}
// [list:arg3] [string] {list-style} (disc/square/circle)
$kittn-typo-list-style: (
  fontsize: false,
  lineheight: false,
  left: s(1),
  style: disc
);

// Optional Style for a blockquote
// [list:arg1] [value/boolean] {font-size} Can be 'false'
// [list:arg2] [value/boolean] {line-height} Can be 'false'
$kittn-typo-blockquote-style: (
  fontsize: $kittn-typo-base-size + 2,
  lineheight: $kittn-typo-lineheight + 6
);

// Optional Style for cites
// [list:arg1] [value/boolean] {font-size} Can be 'false'
// [list:arg2] [value/boolean] {line-height} Can be 'false'
$kittn-typo-cite-style: (
  fontsize: $kittn-typo-base-size - 1,
  lineheight: $kittn-typo-lineheight + 0
);

// Style the HR
// [value] Height
$kittn-hairline-style: 1;

// Styling Code Elements
// [list:arg1] [value/boolean] {font-size} Can be 'false'
// [list:arg2] [value/boolean] {line-height} Can be 'false'
$kittn-typo-code-style: (
  fontsize: false,
  lineheight: false
);

// ---- General Colors ----
// Color Definition Map. This is a collection from all used Colors. Use only use HEX Colors, when you enter a Opacity Value (between 0 to 1), Sass convert it to RGBA with a Fallback for old Browsers.
// [map]
// color........: [string] Don't use css color names like 'black'
// opactiy......: [boolean/number] Opacity Value
// type.........: [string] color-type ==  bc: background and textcolor,
//                                         c: textcolor,
//                                         b: background-color
$kittn-color-map: (
  'primary': (
    color: #f29300,
    opacity: false,
    type: bc
  ),
  'black': (
    color: #3c3c3c,
    opacity: false,
    type: bc
  ),
  'gray': (
    color: #636363,
    opacity: false,
    type: bc
  ),
  'white': (
    color: #fff,
    opacity: false,
    type: bc
  ),
  'body': (
    color: #f8f8f8,
    opacity: false,
    type: b
  ),
  'alert': (
    color: #ef462a,
    opacity: false,
    type: b
  ),
  'success': (
    color: #38cc3b,
    opacity: false,
    type: b
  ),
  'warning': (
    color: #f5a11c,
    opacity: false,
    type: b
  ),
  'hightlight': (
    color: #f8e64b,
    opacity: false,
    type: b
  )
);

// Generate the Color Classes from the Color Array
// [boolean]
$kittn-generate-colors: true;

// Setup the type : class or silent
// [value]
$kittn-generate-colors-type: silent;

// Base Body Background Color (use the color function cp())
// [value]
$kittn-background-color-body: cp('body');

// Normal Text Color (used for p, body, lists) (use the color function cp())
// [value]
$kittn-color-text: cp('black');

// Text Color for Headings. With 'false' the Basetextcolor is used
// [value/boolean]
$kittn-color-headline: cp('gray');

// Text Color for Quotes. With 'false' the Basetextcolor is used
// [value/boolean]
$kittn-color-blockquote: cp('black');

// Style the Highlight.
// [list:arg1] [value] {background-color}
// [list:arg2] [value] {color}
$kittn-color-highlight: (
  background: lighten(cp('primary'),25),
  text: darken(cp('primary'),10)
);

// Color the Link States
// [list:arg1] [value] {text-color}
// [list:arg2] [value] {hover-color}
// [list:arg3] [value] {active-color}
$kittn-color-textlink: (
  normal: cp('primary'),
  hover: darken(cp('primary'),15),
  active: darken(cp('primary'),25)
);

// Style the Link Decoration
// [list:arg1] [boolean] Text Decoration for 'normal' state
// [list:arg1] [boolean] Text Decoration for 'hover' state
$kittn-link-decoration: (
  normal: false,
  hover: true
);

// Font Family and Font Weight for base Texts
// [list:arg1] [value] {font-family} For Fontstacks use the function 'ff()'
// [list:arg2] [value/boolean] {font-weight} Can be 'false'
$kittn-font-basetypo: (
  font: ff('helvetica'),
  weight: false
);

// Font Family and Font Weight for Bold Text
// [list:arg1] [value] {font-family} For Fontstacks use the function 'ff()', deactivate with 'false'
// [list:arg2] [value/boolean] {font-weight} Can be 'false'
$kittn-font-boldtypo: (
  font: false,
  weight: bold
);

// Font Family and Font Weight for Italic Text
// [list:arg1] [value] {font-family} For Fontstacks use the function 'ff()', deactivate with 'false'
// [list:arg2] [value/boolean] {font-weight} Can be 'false'
$kittn-font-italictypo: (
  font: false,
  style: italic
);

// Font Family for Headings, can be 'false'
// [value/boolean] Can be 'false'
$kittn-font-headingtypo: ff('helvetica');

// Font Family and Font Weight for Quotes
// [list:arg1] [value] {font-family} For Fontstacks use the function 'ff()', deactivate with 'false'
// [list:arg2] [value/boolean] {font-weight} Can be 'false'
// [list:arg3] [value/boolean] {font-style} Can be 'false'
$kittn-font-quotetypo: (
  fontfamily: ff('helvetica'),
  fontweight: false,
  fontstyle: italic
);

// Font Family and Font Weight for Code Elements
// [list:arg1] [value] {font-family} For Fontstacks use the function 'ff()', deactivate with 'false'
// [list:arg2] [value/boolean] {font-weight} Can be 'false'
$kittn-font-codetypo: (
  fontfamily: ff("monospace"),
  fontweight: normal
);

// Styling the HR (Border Style)
// [list:arg1] [string] Line Style
// [list:arg1] [value] Line Color
$kittn-hairline-style-color: dashed #eee;

// Background Color for Tables
// [value]
$kittn-table-background: transparent;

// Background Color for accented tablerows
// [value]
$kittn-table-background-zebra: #f7f7f7;

// Background Color for Hovered Rows
// [value/boolean] 'false' will not include the hover class definition
$kittn-table-background-hover: #f7f7f7;

// Table Margin Bottom
// [value]
$kittn-table-margin: 20px;

// Inner Padding for Table Cells
// [value]
$kittn-table-cell-padding: 8px;

// Border Color for Tables
// [value/boolean] 'false' will not include the hover class definition
$kittn-table-border-color: #eee;

// Trigger Size for responsive Tables
// [value]
$kittn-table-trigger-size: 400px;
