// ============================================================
//          Modernizr Feature Check
// ------------------------------------------------------------

// Mixin: modernizr
// Generate a chained class list off modernizr classes
//
// @mixin     modernizr
// @param     $features {list} The checked features
// @param     $supports {boolean} Internal yep nope routing
// @usage:    +modernizr($features, $supports)
@mixin modernizr($features, $supports) {
  $internal-check: true;
  $prefix: if($supports, '', 'no-');
  $selector: if($supports, '', (unquote('.no-js')));
  $placeholder: if($supports, '%yep', '%nope');

  // Generate placeholder and selectors
  @each $feature in $features {

    @if type-of($feature) != string {
      $internal-check: false;
      @warn '`#{$feature}` is not a string for `modernizr`';
    } @else {
      $placeholder: $placeholder + '-' + $feature;
      $new-selector: #{'.' + $prefix + $feature};
      $selector: if($supports, $selector + $new-selector, append($selector, $new-selector, comma));
    }
  }

  @if $internal-check == true {
    #{$placeholder} & {
      @content;
    }

    @at-root #{$selector} {
      @extend #{$placeholder};
    }
  }
}

// Mixin: yep
// Route the Yep Styling
//
// @mixin     yep
// @param     $features {list} The checked features
// @usage:    +yep($features)
@mixin yep($features...) {
  @include modernizr($features, $supports: true) {
    @content;
  }
}

// Mixin: nope
// Route the Nope Styling
//
// @mixin     nope
// @param     $features {list} The checked features
// @usage:    +nope($features)
@mixin nope($features...) {
  @include modernizr($features, $supports: false) {
    @content;
  }
}
