// ============================================================
//          Shorthand Mixins
// ------------------------------------------------------------

// Mixin: clearfix
// Micro Clearfix without IE7 the fix is smarter
//
// @mixin     clearfix
// @usage:    +clearfix
@mixin clearfix {
  &:after {
    content : '';
    display : table;
    clear   : both;
  }
}

// ---- Block Centering ----

// Mixin: center
// Shorthand for centering Elements (automatic switched to display: block)
//
// @mixin     center
// @usage:    +center
@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Mixin: word-wrap
// Compatible Mixin for Word-Wrap
//
// @mixin     word-wrap
// @usage:    +word-wrap
@mixin word-wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

// Mixin: text-truncate
// Mixin for truncating Text
//
// @mixin     text-truncate
// @usage:    +text-truncate
@mixin text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important ;
}

// Mixin: vertical-center
// Vertical Center Elements with IE7 Fallback
//
// @mixin     vertical-center
// @usage:    +vertical-center
@mixin vertical-center {
  display: table-cell;
  vertical-align: middle;
}

// ---- Clear Text ----

// Mixin: cleartext
// New Method for Text Replacement
//
// @mixin     cleartext
// @usage:    +cleartext
@mixin cleartext {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

// Mixin: cleartext-complex
// Text Replacement Method from HTML5 Boilerplate
//
// @mixin     cleartext-complex
// @usage:    +cleartext-complex
@mixin cleartext-complex {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 150%;
  }
}

// Mixin: cleartext-simpler
// Text Replacement without 'overflow:hidden'
//
// @mixin     cleartext-simpler
// @usage:    +cleartext-simpler
@mixin cleartext-simpler {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// ---- CSS Bug Helper ----

// Mixin: decollapse
// Helper to prevent collapsing Margins
//
// @mixin     decollapse
// @usage:    +decollapse
@mixin decollapse {
  padding-top: 1px;
  margin-top: 1px;
}

// ---- Other ----

// Mixin: performance
// Activate the Hardware Acceleration on Webkit Browsers
//
// @mixin     performance
// @usage:    +performance
@mixin performance {
  transform: translate3d(0,0,0);
}

// Mixin: antialias
// Activate Antialias on Webkit Browsers
//
// @mixin     antialias
// @usage:    +antialias
@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
